body{
    margin: 0px;
    padding: 0px;
    background-color:lightgreen;
}

.header{
    height: 50px;
    width: 100%;
    position:absolute;
    background-color: chocolate;
    
}
.ladoIzqImg{
    
    position:absolute;
    top:0;
    left:0;
    background-color: coral;
    position: static;
    height: 400px;
    width: 50%;
}
.ladoIzquierdo{
    background-color: brown;
    
}
.ladoLogin{
    margin-top: 50px;
    position:absolute;
    top:0;
    right:0;
    float: right;
    width: 50%;
    height: 400px;
    background-color: blanchedalmond;
}
.ladoIzqlogin{
    
     width: 100%;
     height: 83%;
     background-color: cornflowerblue;
     position: relative;
}
h1{
    color: red;
}
