<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Entrada a la Cueva</title>
        
        <h:outputStylesheet library="css" name="estilos.css"/>
    </h:head>
    <h:body>

        <ui:composition template="templates/master.xhtml">
            
            <ui:define name="titulo">
                entrada a la cueva
            </ui:define>

            <ui:define name="encabezado">
                <ui:include src="secciones/cueva/header.xhtml"/>
            </ui:define>

            <ui:define name="lado">
                <ui:include src="secciones/cueva/ladoizq.xhtml"/>
                <ui:include src="secciones/login/ladoizq.xhtml"/>
                <ui:include src="secciones/login/header.xhtml"/>
            </ui:define>
            
           
            <ui:define name="contenido">
                
               
            
            </ui:define>



        </ui:composition>














        
    </h:body>
</html>

