<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>IGNORADO</title>
        <h:outputStylesheet library="css" name="estilos.css"/>
    </h:head>
    <h:body >
        <div align="center">
        <ui:composition template="templates/master.xhtml">
            <ui:define name="titulo">
                intruso
            </ui:define>

            <ui:define name="encabezado">
                <ui:include src="secciones/cueva/header.xhtml"/>
            </ui:define>
            
            <ui:define name="lado">
                <ui:include src="secciones/cueva/intruso.xhtml"/>
            </ui:define>
            
            <ui:define name="contenido">
                <h1 class="intruso">#{msj.alerta}</h1>
                
            </ui:define>

        </ui:composition>
            
        </div>
    </h:body>
</html>

