<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>#{msjs.label8}</title>
        <h:outputStylesheet library="css" name="estilos.css"/>
    </h:head>
    <h:body>
        <div align="center">
        <ui:composition template="templates/master.xhtml">
            <ui:define name="titulo">
                listacuates
            </ui:define>


            <ui:define name="encabezado">
                <ui:include src="secciones/cueva/header.xhtml"/>
            </ui:define>

            <ui:define name="lado">
                <ui:include src="secciones/cueva/jefe.xhtml"/>
            </ui:define>

            <ui:define name="contenido">
                
                <h1 class="intruso">#{msj.jefe}</h1>
                
                
            </ui:define>
        </ui:composition>


</div>




    </h:body>
</html>

