<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>#{msjs.label8}</title>
        <h:outputStylesheet library="css" name="estilos.css"/>
    </h:head>
    <h:body>
        <div align="center">
        <ui:composition template="templates/master.xhtml">
            <ui:define name="titulo">
                listacuates
            </ui:define>


            <ui:define name="encabezado">
                <ui:include src="secciones/cueva/header.xhtml"/>
            </ui:define>

            <ui:define name="lado">
                <ui:include src="secciones/cueva/ladoizq.xhtml"/>
            </ui:define>

            <ui:define name="contenido">

                <h:form>
                    <h:dataTable styleClass="tabla" value="#{Cuate.listaCuates}" var="cuate" 
                                 captionClass="caption" rowClasses="impar,par,impar">

                        <f:facet name="caption"> #{msjs.titulo}</f:facet>

                        <h:column headerClass="header" footerClass="pie">
                            <f:facet name="header">#{msjs.apellidos}</f:facet>
                                #{cuate.apellidos}
                            <f:facet name="footer"> alfabetico</f:facet>
                        </h:column>

                        <h:column headerClass="header" footerClass="pie" >
                            <f:facet name="header">#{msjs.nombre}</f:facet>
                                #{cuate.nombres}
                            <f:facet name="footer">alfabetico</f:facet>
                        </h:column>

                        <h:column headerClass="header" footerClass="pie" >
                            <f:facet name="header">#{msjs.cuota}</f:facet>
                                #{cuate.cuotas}
                            <f:facet name="footer">real</f:facet>
                        </h:column>

                    </h:dataTable>
                </h:form>    



            </ui:define>
        </ui:composition>


</div>




    </h:body>
</html>

