<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>IGNORADO</title>
    <h:outputStylesheet library="css" name="estilo.css"/>

    </h:head>
    <h:body>
        <ui:composition>
            <div align="center" class="ladoLogin">
                <h2>Login</h2>
                <div align="center" class="ladoIzqlogin">
                    <h:graphicImage library="img" name="Desert.jpg"  width="200" />
                
                <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="Usuario: &nbsp;"/>
                    <h:inputText id="login" label="usuario" required="true" value="#{Cuate.user}" />
                    <h:outputLabel value="Contraseña"/>
                    <h:inputSecret id="pwd" label="contraseña" required="true" value="#{Cuate.password}"/>

                    <h:commandButton value="Ejecutar" action="#{Cuate.pagoCuates()}"/>
                    <h:button value="Cancelar" />

                </h:panelGrid>
             
            </h:form>
                
                
                </div> 
            </div>
        </ui:composition>
    </h:body>
</html>

